
.setBox{
  height: 95vh;
  background-color: rgb(245,245,245);
}

.set_box {
  color: #000;
  padding: 4vmin;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.nickName{
  width: 28vmin;
  height: 5vmin;
  text-align: right;
  padding: 0;
  font-size: 16px;
  border: none;
  box-shadow: none !important;
}

.ButtonSet{
  border: none;
  color: #fff;
  border-radius: 20px;
  margin: 3vmin 0;
  background-color: #f70;
  &:hover{
    color: #fff;
    background-color: #f70;
  }
}
