.hint{
    position: fixed;
    top: 0;
    z-index: 200;
    width: 80%;
    height: 60%;
    margin: 0 10vmin;
    border-radius: 20px;
    margin-top: 30vmin;
    background-color: rgb(241, 59, 59);
    .hintIcon{
        position: absolute;
        right: 3vmin;
        top: 3vmin;
        font-size: 20px;
        color: #fff;
    }
}